@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", sans-serif;
}

html,
body,
#root {
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

/* .resume-docx-preview .docx-wrapper {
    padding: 0 !important;
    background: transparent !important;
    overflow: visible !important;
    align-items: flex-start !important;
}

.resume-docx-preview section.docx {
    margin-bottom: 16px !important;
} */
